@import '~antd/dist/antd.css';

.site-layout {
  background: linear-gradient(to right, rgb(26, 40, 161), rgb(109, 229, 245));
}


.ant-layout-footer{
  background: linear-gradient(to right, rgb(26, 40, 161), rgb(109, 229, 245));
}


.site-layout-background {
  background-color: rgba(0, 0, 0, 0.2);
}

.footer{
  background-color: rgba(0, 0, 0, 0.2);
  color: black;
}

.comments{
  
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
  
}
.city {
  
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}

.Header{
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  
}